body {
  margin: 0;
  background-color: gainsboro;
  font-family: "Comic Sans MS";
}

header {
  color: gainsboro;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(#8ac3e5 0 10%, #214e94);
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav img:hover {
  transform: scale(120%);
}

nav {
  margin: 0px 10px;
  float: left;
  max-width: 300px;
  width: 100%;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  column-gap: 5px;
}

nav a {
  text-decoration: none;
}

nav ul li {
  font-family: serif;
  color: whitesmoke;
  font-weight: bold;
  font-size: 32px;
  padding: 20px;
  background: linear-gradient(#8ac3e5 0 10%, #214e94);
  border: #8ac3e5 solid 8px;
  transition: 0.2s filter;
}

nav ul:hover li {
  filter: brightness(0.9);
}

nav ul li:hover {
  filter: brightness(1.1);
}

section {
  max-width: 100%;
  background-color: white;
  border: #f8f8f8 solid 8px;
  border-radius: 2px; 
  display: flex;
  flex-direction: column;
  margin: 20px; 
  padding: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: rgb(60, 183, 224);
}

.bubble {
  height: 300px;
  max-width: 200px;
  padding: 4px;
  color: black;
  background: linear-gradient(white 0 10%, #8ac3e5);
  border: #8ac3e5 solid 4px;
  border-radius: 4px;
  transform: rotate(2deg);
  text-decoration: none;
  transition: all 0.2s;
}

.bubble h2 {
  margin: 0;
  padding: 10px;
  color: white;
  background-color: #214e94;
  border-radius: 2px;
}

.bubble:nth-child(odd) {
  transform: rotate(-2deg);
}

.bubble:hover {
  background-color: #3f3f3f;
  transform: rotate(0deg);
  transform: scale(110%);
  z-index: 10;
}